<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>My Events</h1>
        <a href="/auth/logout">Logout</a>
    </header>
    <div class="container">
        <div class="card-one card-container">
            <% if(events[0].cardNumber == "card one") { %>
                <h1 class="card-event-name"><%= events[0].eventName %></h1>
                <p class="event-date"><%= events[0].eventDate %></p>
                <p class="event-loc"><%= events[0].eventLoc %></p>
                <p class="event-time"><%= events[0].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
        <div class="card-two card-container">
            <% if(events[1] != null) { %>
                <h1 class="card-event-name"><%= events[1].eventName %></h1>
                <p class="event-date"><%= events[1].eventDate %></p>
                <p class="event-loc"><%= events[1].eventLoc %></p>
                <p class="event-time"><%= events[1].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
        <div class="card-three card-container">
            <% if(events[2] != null) { %>
                <h1 class="card-event-name"><%= events[2].eventName %></h1>
                <p class="event-date"><%= events[2].eventDate %></p>
                <p class="event-loc"><%= events[2].eventLoc %></p>
                <p class="event-time"><%= events[2].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
        <div class="card-four card-container">
            <% if(events[3] != null) { %>
                <h1 class="card-event-name"><%= events[3].eventName %></h1>
                <p class="event-date"><%= events[3].eventDate %></p>
                <p class="event-loc"><%= events[3].eventLoc %></p>
                <p class="event-time"><%= events[3].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
        <div class="card-five card-container">
            <% if(events[4] != null) { %>
                <h1 class="card-event-name"><%= events[4].eventName %></h1>
                <p class="event-date"><%= events[4].eventDate %></p>
                <p class="event-loc"><%= events[4].eventLoc %></p>
                <p class="event-time"><%= events[4].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
        <div class="card-six card-container">
            <% if(events[5] != null) { %>
                <h1 class="card-event-name"><%= events[5].eventName %></h1>
                <p class="event-date"><%= events[5].eventDate %></p>
                <p class="event-loc"><%= events[5].eventLoc %></p>
                <p class="event-time"><%= events[5].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
        <div class="card-seven card-container">
            <% if(events[6] != null) { %>
                <h1 class="card-event-name"><%= events[6].eventName %></h1>
                <p class="event-date"><%= events[6].eventDate %></p>
                <p class="event-loc"><%= events[6].eventLoc %></p>
                <p class="event-time"><%= events[6].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
        <div class="card-eight card-container">
            <% if(events[7] != null) { %>
                <h1 class="card-event-name"><%= events[7].eventName %></h1>
                <p class="event-date"><%= events[7].eventDate %></p>
                <p class="event-loc"><%= events[7].eventLoc %></p>
                <p class="event-time"><%= events[7].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
        <div class="card-nine card-container">
            <% if(events[8] != null) { %>
                <h1 class="card-event-name"><%= events[8].eventName %></h1>
                <p class="event-date"><%= events[8].eventDate %></p>
                <p class="event-loc"><%= events[8].eventLoc %></p>
                <p class="event-time"><%= events[8].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
        <div class="card-ten card-container">
            <% if(events[9] != null) { %>
                <h1 class="card-event-name"><%= events[9].eventName %></h1>
                <p class="event-date"><%= events[9].eventDate %></p>
                <p class="event-loc"><%= events[9].eventLoc %></p>
                <p class="event-time"><%= events[9].eventTime %></p>
                <button type="button" class="card-button">Details</button>
                <img src="../assets/images/info icon.jpg" alt="info icon">
            <% } else { %>
                <h1>Add an event!</h1>
                <button type="button" class="card-button">Click Here!</button>
            <% } %>
        </div>
    </div> <!--container-->
    <div class="event-form-overlay">
        <img src="../assets/images/return arrow.png" id="return" alt="return arrow">
        <h1 id="form-title"></h1>
        <h2 id="event-title"></h2>
        <form class="event-form" method="POST" action="/event/create">
            <label for="eventName" id="eventName-label">Event Name</label><br>
                <input type="text" id="eventName" name="eventName" placeholder="Enter Event Name"/><br>
                <label for="eventDate" id="eventDate-label">Date</label><br>
                <input type="text" id="eventDate" name="eventDate" placeholder="Enter Date"/><br>
                <label for="eventLoc" id="eventLoc-label">Location</label><br>
                <input type="text" id="eventLoc" name="eventLoc" placeholder="Enter Location"/><br>
                <label for="eventTime" id="eventTime-label">Time</label><br>
                <input type="text" id="eventTime" name="eventTime" placeholder="Enter Time"/><br>
                <label for="eventDesc" id="eventDesc-label">Description</label><br>
                <textarea id="eventDesc" name="eventDesc" placeholder="Enter Description"></textarea><br>
                <label for="eventReminder" id="eventReminder-label">Set Reminder</label><br>
                <input type="text" id="eventReminder" name="eventReminder" placeholder="2 weeks out"/><br>
                <button type="submit" name="submit" id="button">Submit!</button>
                <img src="../assets/images/trash.png" alt="trashcan" id="trash">
                <input type="text" id="cardNumber" name="cardNumber" value="">
        </form>
    </div>
    <script src="../assets/js/event-scheduler.js"></script>
</body>
</html>